In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
from sklearn.svm import SVC

In [23]:
df=pd.read_csv('/content/train.csv')

In [24]:
pd.set_option("max_columns",None)

In [25]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [26]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [27]:
df['Age']=df['Age'].fillna(df['Age'].mean())

In [28]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [29]:
df.drop(["Name","PassengerId","Ticket"],axis=1, inplace=True)

In [30]:
df.drop(["Cabin"],axis=1,inplace=True)

In [ ]:
#df.Sex=df.Sex.map({'Male':1,'Female':0})
#df['Sex'].value_counts()

Series([], Name: Sex, dtype: int64)

In [ ]:
#df.Embarked=df.Embarked.map({'S':1,'C':0})
#df['Embarked'].value_counts()

1.0    644
0.0    168
Name: Embarked, dtype: int64

In [31]:
df=pd.get_dummies(df,columns=['Sex','Embarked'])

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [35]:
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [37]:
y_pred = svclassifier.predict(X_test)

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
accuracy_score(y_test,y_pred)

0.8156424581005587